body {
  background-color: #272822;
  color: #F8F8F2;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

pre {
  display: inline;
}
.game_container {

}

#dashboard {
  background-color: black;
  color: papayawhip;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  text-align: center;
}

#incorrect {
  color: tomato;
  position: fixed;
  right: 0;
  top: 0;
}

#game_area {
  width:49em;
  border-right: 1px papayawhip dotted;
  white-space: pre-wrap;
  float: left;
}

#game_area:focus {
  outline: 0;
}

#end_stats {
  color: chartreuse;
}

#timer {
  color: papayawhip;
}

#cursor {
  color: darkturquoise;
  border-bottom: 1px solid darkturquoise;
}
.typed {
  color: darkturquoise;
}

#picker, #slide {
  height:100px;
  width: 100px;
  cursor: crosshair;
}

#slide { width: 10px }

#submit {
  position: fixed;
  display: inline-block;
  text-align: center;
  height: 96px;
  width: 100px;
  border: 2px solid;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  cursor: pointer;
}

#play {
  position: relative;
  text-align: bottom;
  top: 37px;
}

#user {
  position: relative;
  top: 0;
}

#color {
  position: relative;
  bottom: 0;
}

.untyped {
  opacity: .4;
}

.color_picker, .color_picker > * {
  display:inline-block;
  float: left;
}

.blink {
  animation: blink 0.85s ease-out infinite;
}

.shake {
  opacity: 1 !important;
  color: tomato !important;
  animation: shake 0.15s cubic-bezier(.36,.07,.19,.97) both;
}

.blur {
  color: transparent !important;
  text-shadow: 0 0 5px papayawhip !important;
}

@keyframes blink {
  40% { opacity: 0.2; }
}

@keyframes shake {
  20%, 80% {
    transform: translate3d(-2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*.input {
  width: 100%;
  color: #F8F8F2;
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #272822;
  border: none;
  opacity: .3;
}

.input:focus {
  outline: 0;
  opacity: 1;
}*/
