body {
  background-color: #272822;
  color: #F8F8F2;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

pre {
  display: inline;
}

#dashboard {
  background-color: black;
  color: papayawhip;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100%;
  text-align: center;
}

#game_area {
  width:49em;
  border-right: 1px papayawhip dotted;
}

#game_area:focus {
  outline: 0;
}

.typed {
  color: darkturquoise;
}

.untyped {
  opacity: .4;
}

#cursor {
  color: darkturquoise;
  border-bottom: 1px solid darkturquoise;
}

.blink {
  animation: blink 0.85s ease-out infinite;
}

.shake {
  opacity: 1 !important;
  color: tomato !important;
  animation: shake 0.15s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes blink {  
  40% { opacity: 0.2; }
}

@keyframes shake {
  20%, 80% {
    transform: translate3d(-2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*.input {
  width: 100%;
  color: #F8F8F2;
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #272822;
  border: none;
  opacity: .3;
}

.input:focus {
  outline: 0;
  opacity: 1;
}*/
